<div class="superRoutes">
    <div class="row">
        <div class="col s12 m6 l6 center">
            <div class="inner-Box z-depth-1">
            <i class="material-icons iconRoutes">
                accessibility_new
            </i>
            <div>
            <a href="/admin/whoisconnected" class="adminBtns clearfix">Users Connected</a>
            </div>
            </div>
        </div>
        <div class="col s12 m6 l6 center">
            <div class="inner-Box z-depth-1">
            <i class="material-icons iconRoutes">
               bookmark
            </i>
            <div>
            <a href="/admin/ourBooks" class="adminBtns clearfix">Books Added</a>
            </div>
            </div>
        </div>
        <div class="col s12 m6 l6 center">
            <div class="inner-Box z-depth-1">
            <i class="material-icons iconRoutes">
                book
            </i>
            <div>
            <a href="#users" class="adminBtns clearfix">Book Borrowed By User</a>
            </div>
            </div>
        </div>
        <div class="col s12 m6 l6 center">
            <div class="inner-Box z-depth-1">
            <i class="material-icons iconRoutes">
                control_point
            </i>
            <div>
            <a href="#users" class="adminBtns clearfix">Site Management</a>
            </div>
            </div>
        </div>
         <div class="col s12 m6 l6 center">
            <div class="inner-Box z-depth-1">
            <i class="material-icons iconRoutes">
               bookmark
            </i>
            <div>
            <a href="/admin/addnewbook" class="adminBtns clearfix">Add New Book</a>
            </div>
            </div>
        </div>
    </div>
</div>